<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro de Agências</title>

    <!--link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet"-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/form/styleapp.css" />
    <script src="/form/projeto.js"></script>
    <link rel="stylesheet" href="/form/styleasteroid.css" />
    <script src="/form/asteroid-alert.js"></script>
</head>

<body classname="snippet-body">
    <div class="wrapper" id="formulario">
        <form action="#">
            <div class="h5 font-weight-bold text-center mb-3">Cadastro de Agências</div>
           






            <table width="100%" border="2">
                <thead> 
                    <tr>
                       
                        <td align="center" style="color:white;">
                            <div class="mb-2">
                                <label class="option"><b>Nome</b>
                                </label>
                            </div>
                        </td>
                        <td align="center" style="color:white;">
                            <div class="mb-2">
                                <label class="option"><b>Homologado</b>
                                </label>
                            </div>
                        </td>

                    </tr>
                </thead>        
                <tbody> 
                    <tr> 
                       
                    </tr> 
                </tbody> 

            </table>
           

            <br>


            <div id="edicao">
                <div class="btn btn-primary mb-3" onclick="Javascript:document.location.reload()">Atualizar</div>
                <div class="btn btn-primary mb-3" onclick="Javascript:document.location='../cadastroprojetos/'">Projetos Cadastrados</div>
                
            </div>




        </form>
    </div>

    </div>
   

    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="#"></script>
    <script type="text/javascript" src="#"></script>
    <script type="text/javascript" src="#"></script>

    <script type="text/javascript">
        var myLink = document.querySelectorAll('a[href="#"]');
        myLink.forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
            });
        });
    </script>
    <script>
         $(document).ready(function () { 
            let method = "get";
            let endereco = '/api/v1/agencias';
            var myHeaders = new Headers();
            myHeaders.append("Token", '');
            myHeaders.append("Content-Type", "application/json");

            var requestOptions = {
                    method: method,
                    headers: myHeaders,
                    
                    redirect: 'follow'
                };
            let tableBody = $("table tbody"); 
            fetch(endereco , requestOptions).then((res) => res.json())
                    .then((data) => {

                            console.log(data);            
                        
        
                        for (let i = 0; i < data.length; i++) {
                            console.log(i);
                            let codlinha = '<tr><div class="mb-2"><td align="center" style="color:white;">' + data[i]['Nome Agência '] + '</td><td align="center" style="color:white;">'  + data[i]["Homologado TOTVS "] + ' </td></div></tr>' ;
                            tableBody.append(codlinha);    
                        }
                        
                    })
                    .catch((err) => console.log(err));
    })                
    

    </script>

</body>



</html>