<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Digital Comerce Prospecão de Clientes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="icon" type="image/png" href="icon_38.png">
<link rel="stylesheet" href="./styleapp.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="video-bg">
 <video width="320" height="240" autoplay loop muted>
  <source src="bishop-94180.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="dark-light">
    <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
     <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" /></svg>
   </div>
<div class="app">
 <div class="header">
  <div class="menu-circle"><img src="totvs-logob.png" width="50%"> </div>

  

 </div>
 <div class="wrapper" id="Inicial">
   

           <table border="1" class="menu-link-main" height="50%">
            <tr>
                <td align="center" colspan="8">
                   <h3 class="menu-link-main">Cadastro de Agências</h3>
                </td>
             </tr>
            <tr>
                <td></td>
                <td align="left" colspan="6"> 
					<div class="calc-bar">
						Nome:
						<input id="nome" autocomplete="off" type="text"  placeholder="Nome da Agência"/>
					</div>	
				</td>
                
            </tr>

            <tr>
                <td></td>
                <td align="center">CRM + EXACT</td>
                <td align="center">TALLOS + MKT</td>
                <td align="center">AGILE, LEXOS, SHOPIFY, VTEX</td>
                <td align="center">TAIL</td>
                <td align="center">WEVO, CONECTOR</td>
                <td align="center">SAAS PRICING</td>
                <td align="center">DELIVERY PRICING</td>
            </tr>
            <tr>
                
                <td align="center">
                    <div class="calc-bar">
                    <select id="modalidade">
                        <option value=""></option>
                        <option value="basic">Basic</option>
                        <option value="valor1">Advanced</option>
                        <option value="valor1">Enterprise</option>
                    </select>
                    </div>    

                </td>
                <td align="center">
                    <div class="calc-bar">
                    <select id="crm">
                        <option value=""></option>
                        <option value="CRM">CRM</option>
                        <option value="EXACT">EXACT</option>
                        <option value="CRM+EXACT">CRM+EXACT</option>
                    </select>    
                    </div>
                </td>
                <td align="center">
                    <div class="calc-bar">
                    <select id="marketing">
                        <option value=""></option>
                        <option value="RDMKT">RD MKT</option>
                        <option value="TALLOS">TALLOS</option>
                        <option value="RDMKT+TALLOS">RD MKT+TALLOS</option>
                    </select>   
                    </div> 
                </td>
                <td align="center">
                    <div class="calc-bar">
                    <select id="digitalcomerce">
                        <option value=""></option>
                        <option value="AGILE">AGILE</option>
                        <option value="LEXOS">LEXOS</option>
                        <option value="VTEX">VTEX</option>
                        <option value="SHOPIFY">SHOPIFY</option>
                        <option value="SHOPIFY+LEXOS">SHOPIFY+LEXOS</option>
                        <option value="VTEX+LEXOS">VTEX+LEXOS</option>
                    </select>    
                    </div>
                </td>
                <td align="center">
                    <div class="calc-bar">
                    <select id="inteligencia">
                        <option value=""></option>
                        <option value="CDP">CDP</option>
                        <option value="CMP">CMP</option>
                        <option value="DMP">DMP</option>
                       <option value="DMP+CMP">DMP+CMP</option>
                    </select>
                    </div>    
                </td>
                <td align="center">
                    <div class="calc-bar">
                    <select id="apps">
                        <option value=""></option>
                        <option value="WEVO">WEVO</option>
                        <option value="TOTVSIPaas">TOTVS IPaas</option>
                       <option value="TOTVSIPaas+WEVO">TOTVS IPaas+WEVO</option>
                    </select> 
                    </div>  
                </td>
            
                <td align="center">
                    <div class="calc-bar">
                        <input id="saas" type="text" >
                   </div>
                </td>
                <td align="center">
                    <div class="calc-bar">
                        <input id="delivery" type="text">
                    </div>    
                
                </td>
            </tr>

        </table>
        
 </div>
</div> 
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./scriptapp.js"></script>
</body>
</html>
