<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calculadora</title>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylecalc.css" />
    <!--script src="/form/projeto.js"></script-->
    
</head>

<body classname="snippet-body">
  <div class="h5 font-weight-bold text-center mb-3">Empodera Digital Commerce Calculadora</div>
    <div class="wrapper" id="classificacao">
        <form action="#">
          <div class="h5 font-weight-bold text-center mb-3">Ofertas Digital Commerce</div>
          <table id="fila" border="0" align="center"><tr><td align="center">
                    
          <div class="equalizer">
            <div class="section">
              <div class="title">RD Station</div>
              <div class="sliders">
                <div class="range-slider">
                  <span class="scope">PRO</span>
                  <input type="range" class="vertical" min="4700" max="22000" step="100" value="4700" data-filter="highShelf" data-param="frequency">
                  <span class="scope scope-min">&nbsp;</span>
                  <span class="param">crm</span>  
                </div>
                <div class="range-slider">
                  <span class="scope">Basic</span>
                  <input type="range" class="vertical" min="-50" max="50" value="50" data-filter="highShelf" data-param="gain">
                  <span class="scope scope-min">&nbsp;</span>
                  <span class="param">mkt</span>  
                </div>
                <div class="range-slider">
                  <span class="scope">Enter</span>
                  <input type="range" class="vertical" min="-50" max="50" value="50" data-filter="highShelf" data-param="gain">
                  <span class="scope scope-min">&nbsp;</span>
                  <span class="param">men</span>  
                </div>
              </div>
            </div>
              
            <div class="section">
              <div class="title">Lexos</div>
              <div class="sliders">
                <div class="range-slider">
                  <span class="scope">Starter</span>
                  <input type="range" class="vertical" min="35" max="220" step="1" value="35" data-filter="lowShelf" data-param="frequency">
                  <span class="scope scope-min">&nbsp;</span>
                  <span class="param">lex</span>  
                </div>
                
              </div>
            </div>
                
            <div class="section">
              <div class="title">Tallos</div>
              <div class="sliders">
                <div class="range-slider">
                  <span class="scope">Pro</span>
                  <input type="range" class="vertical" min="800" max="5900" step="100" value="800" data-filter="highPass" data-param="frequency">
                  <span class="scope scope-min">&nbsp;</span>
                  <span class="param">Tal</span>  
                </div>
              
              </div>
            </div>  
              
            <div class="section">
              <div class="title">Shopify</div>
              <div class="sliders">
                <div class="range-slider">
                  <span class="scope">Starter</span>
                  <input type="range" class="vertical" min="80" max="1600" step="10" value="880" data-filter="lowPass" data-param="frequency">
                  <span class="scope scope-min">&nbsp;</span>
                  <span class="param">sho</span>  
                </div>
                
              </div>
            </div>

            <div class="section">
              <div class="title">Exact Sales</div>
              <div class="sliders">
                <div class="range-slider">
                  <span class="scope">Enter</span>
                  <input type="range" class="vertical" min="80" max="1600" step="10" value="880" data-filter="lowPass" data-param="frequency">
                  <span class="scope scope-min">&nbsp;</span>
                  <span class="param">exa</span>  
                </div>
                
              </div>
            </div>

            <div class="section">
              <div class="title">Tail</div>
              <div class="sliders">
                <div class="range-slider">
                  <span class="scope">Basic</span>
                  <input type="range" class="vertical" min="80" max="1600" step="10" value="880" data-filter="lowPass" data-param="frequency">
                  <span class="scope scope-min">&nbsp;</span>
                  <span class="param">tail</span>  
                </div>
                
              </div>
            </div>
            
          </div>
          </td></tr></table>


        </form>
    </div>

    </div>
   

    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>


    <script type="text/javascript">
        var myLink = document.querySelectorAll('a[href="#"]');
        myLink.forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
            });
        });

        var context = new (window.AudioContext || window.webkitAudioContext)();

var highShelf = context.createBiquadFilter();
var lowShelf = context.createBiquadFilter();
var highPass = context.createBiquadFilter();
var lowPass = context.createBiquadFilter();

highShelf.connect(lowShelf);
lowShelf.connect(highPass);
highPass.connect(lowPass);
lowPass.connect(context.destination);

highShelf.type = "highshelf";
highShelf.frequency.value = 4700;
highShelf.gain.value = 50;

lowShelf.type = "lowshelf";
lowShelf.frequency.value = 35;
lowShelf.gain.value = 50;

highPass.type = "highpass";
highPass.frequency.value = 800;
highPass.Q.value = 0.7;

lowPass.type = "lowpass";
lowPass.frequency.value = 880;
lowPass.Q.value = 0.7;

var ranges = document.querySelectorAll('input[type=range]');
ranges.forEach(function(range){
  range.addEventListener('input', function() {
    window[this.dataset.filter][this.dataset.param].value = this.value;
  });
});





    </script>
         
    

</body>
    


</html>