<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="icon_38.png">
    <title>Cadastro de Projeto</title>

    <link rel="stylesheet" href="/styleapp.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="/form/projeto.js"></script>
    <link rel="stylesheet" href="/form/styleasteroid.css" />
    <script src="/form/asteroid-alert.js"></script>
</head>

<body classname="snippet-body">
    <div class="wrapper" id="formulario">
        <form action="#">
            <div class="h5 font-weight-bold text-center mb-3">Cadastro do projeto</div>
            <div id="divnomecliente" class="form-group d-flex align-items-center">
                <div class="icon"><span class="far fa-user"></span></div>
                <input id="site" autocomplete="off" type="text" class="form-control" placeholder="Informe aqui o endereço do ecommerce" required>
            </div>




            <div id="edicao">
                <div class="btn btn-primary mb-3" onclick="Javascript:sugerirAgenciaSite()">Sugerir Agência</div>
                <div class="btn btn-primary mb-3" onclick="Javascript:mostrarFilaAgencias()">Fila de Agências</div>

            </div>




        </form>
    </div>

    <div class="wrapper" id="resultado">
        <form action="#">
            <div class="h5 font-weight-bold text-center mb-3">Resultado</div>
            <br><br>
            <div class="form-group d-flex align-items-center">
                <div class="icon"></div>
                <div id="agencia" class="h5 font-weight-bold text-center mb-3"></div>
            </div>

            <div class="form-group d-flex align-items-center">
                <div class="icon"></div>
                <div id="responsavel" class="h5 font-weight-bold text-center mb-3"></div>
            </div>

            <br> <br>
            <div id="final">
                <div id="btConfirma" class="btn btn-primary mb-3" onclick="Javascript:saveProject()">Confirmar</div>
               
                <div class="btn btn-primary mb-3" onclick="Javascript:mostrarClassificacao()">Lista Classificatória
                </div>
                <div class="btn btn-primary mb-3" onclick="Javascript:voltar()">Voltar</div>
            </div>
        </form>

    </div>
    <script>$('#resultado').hide()</script>

    <div class="wrapper" id="classificacao">
        <form action="#">
            <div class="h5 font-weight-bold text-center mb-3">Classificação de Agências</div>



            <table id="classificados" width="100%" border="2">
                <thead>
                    <tr>
                        <td align="center">
                            <div class="mb-2">
                                <label class="option"><b>Posição</b>
                                </label>
                            </div>


                        </td>
                        <td align="center">
                            <div class="mb-2">
                                <label class="option"><b>Agência</b>
                                </label>
                            </div>
                        </td>
                        <td align="center">
                            <div class="mb-2">
                                <label class="option"><b>Pontuação</b>
                                </label>
                            </div>
                        </td>


                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>
                </tbody>

            </table>


            <br>
            <div id="edicao">
                <div class="btn btn-primary mb-3" onclick="Javascript:voltarparaResultado()">Voltar</div>
            </div>
        </form>
    </div>
    <script>$('#classificacao').hide()</script>
    <div class="wrapper" id="filaagencias">
       
            <div class="h5 font-weight-bold text-center mb-3">Fila de agências</div>
           


            <table id="fila" width="100%" border="2" align="center">
                <thead> 
                    <tr>
                        <td align="center">
                            <div class="mb-2">
                                <label class="option"><b>Posição</b>
                                </label>
                            </div>


                        </td>
                        <td align="center">
                            <div class="mb-2">
                                <label class="option"><b>Agência</b>
                                </label>
                            </div>
                        </td>
                        

                    </tr>
                </thead>        
                <tbody> 
                    <tr> 
                       
                    </tr> 
                </tbody> 

            </table>
           

            <br>
            <div id="edicao">
                <div class="btn btn-primary mb-3" onclick="Javascript:voltar()">Voltar</div>
            </div>    





    </div>
    <script>$('#filaagencias').hide()</script>




    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>


    <script type="text/javascript">
       /// carregarAgencias();
        var myLink = document.querySelectorAll('a[href="#"]');
        myLink.forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
            });
        });
    </script>

<script>
    $(document).ready(function () { 
       carregaFila(); 
       setInterval(carregaFila, 10000);         
   })                
</script>

</body>



</html>